[Unit]
Description=SeasonalWeather Liquidsoap automation
After=network-online.target icecast2.service
Wants=network-online.target

[Service]
Type=simple
User=seasonalweather
Group=seasonalweather
ExecStart=/usr/bin/liquidsoap /etc/seasonalweather/radio.liq
Restart=always
RestartSec=2
WorkingDirectory=/var/lib/seasonalweather
RuntimeDirectory=seasonalweather
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
